/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp PERIOD  &kp COMMA  &kp SEMI    &kp P      &kp Y      &kp F          &kp G      &kp C       &kp H  &kp L  &none
&none  &kp A       &kp O      &kp E       &kp U      &kp I      &kp D          &kp R      &kp T       &kp N  &kp S  &kp SQT
&mo 1  &kp SLASH   &kp Q      &kp J       &kp K      &kp X      &kp B          &kp M      &kp W       &kp V  &kp Z  &none
                              &kp ESCAPE  &kp SPACE  &kp TAB    &kp BACKSPACE  &kp ENTER  &kp DELETE
            >;
        };

        magic {
            bindings = <
&bootloader  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &bootloader
&none        &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none        &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                           &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
